.skeleton {
  padding: 10px 15px;
  margin: 30px 0 0 0;
  width: 400px;
  border: 1px solid #c4c4c4;

  &-title {
    background-color: #c4c4c4;
    height: 20px;
  }

  &-video {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
    height: 250px;
  }

  &__btns {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
    height: 20px;
  }

  &__filter {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
    height: 20px;
  }

  &-desc {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
    height: 20px;
  }

  &__info {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
    height: 20px;
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
