.skeleton {
  padding: 10px 15px;
  margin: 30px 0 0 0;
  width: 400px;
  border: 1px solid #c4c4c4;
  & > *:not(:first-child) {
    margin: 10px 0 0 0;
    background-color: #c4c4c4;
  }
  &-title,
  &__btns,
  &__filter,
  &-desc,
  &__info {
    height: 20px;
  }
  &-video {
    height: 250px;
  }
}
