.homePage {
  &-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    font-size: 60px;
    margin: 0 0 130px 0;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-link {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;

    &:last-child {
      margin: 0;
    }

    &:hover {
      transform: scale(1.15, 1.15);
      text-decoration: none;
      box-shadow: none;
      background-color: green;
    }
  }

  &-text {
    font-size: 18px;
    color: #000000;
  }
}
