.appTabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-tabs {
    display: flex;
    width: 980px;
  }

  &-tabItem {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    color: #c4c4c4;
    transition: all 0.5s;

    &.active {
      color: black;
      border-bottom: 1px solid black;
    }
  }

  &-block {
    display: flex;
    padding: 30px 0 0 0;
  }

  &-content {
    padding: 0 0 30px 0;
    & > *:not(:first-child) {
      margin: 30px 0 0 0;
    }
  }

  &-filter {
    margin: 0 0 0 60px;
  }
}
