.appTabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-tabs {
    display: flex;
    width: 1180px;
  }

  &-tabItem {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;

    &.active {
      color: black;
      border-bottom: 1px solid black;
    }
  }
}
